[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/Chris-Ha-MD/hugo-theme-hello-friend-ng
[submodule "public"]
	path = public
	url = https://github.com/Chris-Ha-MD/Chris-Ha-MD.github.io
	branch = master
